*{
    text-align: justify;
}

body{
    font-family: 'Gentium Basic', serif;
    font-size: 16px;
    background: url(../imagenes/backgraund.jpg) repeat;
    color: #777777;
}

header img{
    margin-left: 150px;
}

header hr{
    width: 75%;
    height: 7px;
}

header #logo{
    width: 70%;
    float: left;
}

header #identificacion{
    width: 30%;
    float: right;
    margin-top: 50px;
}

footer{
    background: url(../imagenes/backgraund_footer.jpg) repeat;
    padding: 20px;
}

footer p{
    text-align: center;
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    color: #bbbbbb;
}

button{
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    background-color: white;
}

button:hover{
    background-color: #00a2e8;
    color: white;
}

button:active{
    background-color: #138CC0;
    color: white;
}

#eleccionIdioma h2{
    text-align: center;
    font-size: 30px;
}

#eleccionIdioma #imgLeft{
    margin-left: 550px;
}

#eleccionIdioma #imgRight{
    margin-left: 50px;
}

#eleccionIdioma a,
#eleccionIdioma a:visited{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.adaptabilidad{
    margin-left: 500px;
}

.contenedorPrincipal{
    margin-left: 170px;
    margin-top: 50px;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

#formularioBusqueda{
    width: 55%;
    background: url(../imagenes/backgraund_form.gif) repeat;
    color: white;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 15%;
}

#formularioBusqueda button{
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #00a2e8;
    color: white;
    margin-left: 40%;
}

#formularioBusqueda button:hover{
    background-color: #138CC0;
    color: white;
}
